.banner-area{
    height: 100vh;
    background: url(background.jpg);
    background-position: center;
    -webkit-background-size:cover;
    background-size: cover;
}
body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
header{
    padding:15px 60px;
    
}
.navbar{
    width:68%;
    float: right;
    list-style: none;
}
.navbar li{
    width:200px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    float: left;
    background: #2a75bb;
}

.navbar li a{
    text-decoration: none;
    font-family: serif;
    color: #fff;
    text-transform: uppercase;
}
.navbar li a:hover{
    
    transition: .9s;
    color:#ffcb05;
}
.Ken{
    position: absolute;
    top:40%;
    left:9.5%;
    transform: translate(-50%,-50%);
}
.Mitsuhiro{
    position: absolute;
    top:40%;
    right:10%;
    transform: translate(-10%,-50%);
}
.keiji{
    position: absolute;
    top:40%;
    right:10%;
    transform: translate(90%,-50%);
}
.MediaFactory{
    position: absolute;
    top:40%;
    right:10%;
    transform: translate(90%,100%);
}
.banner-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    text-align: center;
}
.para-text{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    text-align: left;
}
.para-text h2{
    font-family: serif;
    margin: 0;
    font-size:30px;
    color:#2a75bb;
}
.gen-text{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    text-align: left;
}
.gen-text h2{
    font-family: serif;
    margin: 0;
    font-size:30px;
    color:#2a75bb;
}
.gens li{
    width:200px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    color: #ffcb05;
    
    font-size: 20px;
    float: left;
    background-color: transparent;
    list-style: none;
    transform: translate(13%,200%);
}
.gens li a {
    text-decoration: none;
    
    
    font-family: serif;
    color: #2a75bb;
    text-transform: uppercase;
    
    
}
.banner-text h2{
    font-family: serif;
    margin: 0;
    font-size:100px;
    color:#2a75bb;
}
.banner-text p{
    font-family: serif;
    margin: 0;
    font-size:30px;
    color:#2a75bb;
}
.banner-text a{
    text-decoration: none;
    border: 1px solid #fff;
    font-size: 22px;
    padding: 10px 35px;
    color: #fff;
    display: inline-block;
    margin-top: 5%;
    font-family: serif;
    text-transform: uppercase;
}
.banner-text a:hover{
    border-color: #3c5aa6;
    background: #3c5aa6;
    transition: .9s;
    color:#ffcb05;
}
